.d-flex.justify-content-center.align-items-center
  %h1.p-2.flex-grow-1 Calories
  .row
    %h4.p-2.col.offset-md-4= pluralize(@total_records, "record")
    .w-100.d-none.d-md-block
    .col.offset-md-4.mb-2
      = link_to 'New Calorie', new_calory_path, class:"btn btn-primary"
= paginate @calories
#calories.container.row.row-cols-4
  - @calories.each do |calory|
    %div{:class => "col card text-white #{calory.burned_or_consumed =="burned" ? "bg-success" : "bg-danger"} mb-3 border", :style => "max-width: 18rem;"}
      .card-header= calory.updated_at.strftime("%d-%m-%Y %H:%M")
      .card-body
        = render calory
        = link_to "Show this calorie", calory, class:"btn btn-warning"
= paginate @calories

